/* 리셋 */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    transition: 0.2s;
}

input, button {
    border: none;
}

input:focus {
    outline: none;
}

#wrap {
    width: 572px;
    min-height: 100vh;
    padding: 80px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}

.title h1 {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 12px;
    transition: 0.2s;
}

.title h2 {
    width: 460px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    text-align: center;
    transition: 0.2s;
}

.link_origin_wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.link_origin_wrap input {
    width: 460px;
    font-size: 14px;
    border: 1px solid;
    border-radius: 8px 0 0 8px;
    padding: 15px 16px;
    color: #202124;
    transition: 0.2s;
}

.link_origin_wrap button {
    width: 112px;
    height: 48px;
    font-size: 14px;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
    transition: 0.2s;
}

.link_converted_wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 40px;
}

.link_converted_btn {
    width: 100%;
    height: 48px;
    border-radius: 8px 8px 0 0;
    border-bottom: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    transition: 0.2s;
}

.link_converted_btn input {
    display: none;
}

.link_converted_btn label {
    width: 33.33%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
}

.link_converted_btn label:last-of-type {
    border-right: none;
}

.link_converted {
    width: 100%;
    position: relative;
    display: none;
}

.link_converted_1 {
    display: block;
}

.link_converted input {
    width: 100%;
    font-size: 14px;
    border-top: none;
    border-radius: 0 0 8px 8px;
    padding: 16px;
    padding-right: 57px;
    color: #202124;
    transition: 0.2s;
}

.link_copy {
    position: absolute;
    z-index: 2;
    right: 1px;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 20px;
    background-color: #FFFFFF;
    cursor: pointer;
    transition: 0.2s;
}

.link_copy svg {
    width: 16px;
    height: 16px;
}

.link_copy .copy_check_btn {
    display: none;
}

.img_preview {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 16px;
}

.link_img_wrap {
    width: 280px;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 80px;
    transition: 0.2s;
}

.link_img_wrap img {
    width: 100%;
    border-radius: 8px;
}

.link_img_wrap div {
    height: 240px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    transition: 0.2s;
}

.link_img_wrap svg {
    width: 50%;
    transition: 0.2s;
}

.how_to_use {
    width: 100%;
}

.how_to_use h2 {
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 12px;
    margin-bottom: 40px;
    transition: 0.2s;
}

.how_to_use h2 svg {
    width: 12px;
    height: 12px;
    margin-left: 6px;
    transition: 0.2s;
}

.how_to_use h3 {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.2px;
    margin-bottom: 16px;
}

.how_to_use img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 40px;
}

/* 플로팅 버튼 */

.fixed_area {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.fixed_area .fixed_btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.fixed_area .fixed_btn svg {
    width: 16px;
    height: 16px;
    transition: 0.2s;
}

/* 저작권 */

.copyright {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    transform: translateY(100%);
}

/* 브라잇 모드 */

body.bright_mode {
    color: #4C4D50;
    background-color: #E9EAEE;
}

.bright_mode .copyright, .bright_mode a, .bright_mode a:active {
    color: #646568;
}

.bright_mode .fixed_area .fixed_btn {
    background-color: #35363A;
}

.bright_mode .fixed_area .fixed_btn svg {
    fill: #FFFFFF;
}

.bright_mode .title h1 {
    color: #35363A;
}

.bright_mode .title h2 {
    color: #646568;
}

.bright_mode .link_origin_wrap input {
    border-color: #4C4D50;
}

.bright_mode .link_origin_wrap button {
    color: #FFFFFF;
    background-color: #4C4D50;
}

.bright_mode .link_converted_btn {
    border: 1px solid #4C4D50;
    background-color: #4C4D50;
}

.bright_mode .link_converted_btn label {
    border-right: 1px solid #35363A;
    color: #FFFFFF;
}

.bright_mode .link_converted_btn label:last-of-type {
    border-right: none;
}

.bright_mode .link_converted_btn input:checked + label {
    background-color: #35363A;
}

.bright_mode .link_converted input {
    border: 1px solid #4C4D50;
}

.bright_mode .link_img_wrap {
    border: 1px solid #4C4D50;
    background-color: #FFFFFF;
}

.bright_mode .link_img_wrap div {
    background-color: #E9EAEE;
}

.bright_mode .link_img_wrap svg {
    fill: #CDCED2;
}

.bright_mode .how_to_use h2 {
    border-bottom: 1px solid #4C4D50;
}

.bright_mode .how_to_use h2 svg {
    fill: #4C4D50;
}

/* 나잇 모드 */

body.night_mode {
    color: #FFFFFF;
    background-color: #202124;
}

.night_mode .copyright, .night_mode a, .night_mode a:active {
    color: #9AA0A6;
}

.night_mode .fixed_area .fixed_btn {
    background-color: #FFFFFF;
}

.night_mode .fixed_area .fixed_btn svg {
    fill: #202124;
}

.night_mode .title h2 {
    color: #9AA0A6;
}

.night_mode .link_origin_wrap button {
    color: #FFFFFF;
    background-color: #35363A;
}

.night_mode .link_origin_wrap input {
    border-color: #FFFFFF;
}


.night_mode .link_converted_btn {
    border: 1px solid #35363A;
    background-color: #202124;
}

.night_mode .link_converted_btn label {
    border-right: 1px solid #35363A;
    color: #FFFFFF;
}

.night_mode .link_converted_btn label:last-of-type {
    border-right: none;
}

.night_mode .link_converted_btn input:checked + label {
    background-color: #35363A;
}

.night_mode .link_converted input {
    border: 1px solid #FFFFFF;
}

.night_mode .link_img_wrap {
    border: 1px solid #FFFFFF;
    background-color: #202124;
}

.night_mode .link_img_wrap div {
    background-color: #35363A;
}

.night_mode .link_img_wrap svg {
    fill: #646569;
}

.night_mode .how_to_use h2 {
    border-bottom: 1px solid #FFFFFF;
}

.night_mode .how_to_use h2 svg {
    fill: #FFFFFF;
}

.night_mode .how_to_use h3 {
    color: #FFFFFF;
}

@media screen and (max-width: 720px) {
    #wrap {
        width: 100%;
        padding: 60px 20px;
    }

    .fixed_area {
        top: auto;
        bottom: 20px;
        right: 20px;
        flex-direction: column;
    }

    .fixed_area .fixed_btn {
        margin-right: 0px;
        margin-top: 8px;
    }

    .title h1 {
        width: 100%;
    }

    .title h2 {
        width: 100%;
    }

    .link_origin_wrap {
        width: 100%;
    }

    .link_origin_wrap input {
        width: 100%;
    }
}